<% content_for :header_tags do %>
<%= stylesheet_link_tag 'tasks', :plugin => 'redmine_warehouse' %>
<% end %>

<div id="content-tasks">
	<div class="contextual">
		<a href="" class="icon-task_demo icon-new-task_demo">Новая задача</a>
	</div>

	<h2 class="task_demo_header">Задачи</h2>

	<div class="task_demo_list">
		<div class="autoscroll">
			<table class="task_demo">
				<tbody>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
					<tr class="task_demo">
						<td class="checkbox">
						<input id="Checkbox0" name="selected_task_demo" type="checkbox"/>
						</td>
						<td class="subject_and_date"> Перезвонить по важному вопросу
						<div class="task_demo_date">
							Сегодня, 14:00
						</div>
						<div class="tags">
							<span class="tags_list"> <span class="tag-label" style="background-color: #EBEBEB"><a href="">Метка 1</a></span> <span class="tag-label" style="background-color: #C0C0C0"><a href="">Вторая метка</a></span> </span>
						</div></td>
						<td class="task_demo_type">Тип задачи</td>
						<td class="logo"> <%= image_tag('logo.jpg', :alt => '', :class => 'logo', :plugin => 'redmine_warehouse') %> </td>
						<td class="assignee_and_company"> Иванов Иван Иванович
						<div class="task_demo_company">
							ООО "Ромашка"
						</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% content_for :sidebar do %>
<div class="sidebar-task_demo">
	<div class="sidebar_header">
		<h3>Heading 3</h3>
	</div>
	<a href="">This is a text link. A text link</a>
	<a href="">This is a text link. A text link</a>
	<a href="">This is a text link. A text link</a>
</div>
<% end %>
